# exclude all sqlite-databases
*.sqlite

# Exclude the config
config.json

# Exclude the __pychache__ folder
__pycache__/*

# Ignore all log-files created while debugging
*.log

#Ignore folders need for organisation and their content
static/*
